.container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0 50px;
}
.page {
    width: 100%;
    background-color: #eaedf2;
}
.description {
    background-color: rgba(255, 255, 255, .5);
    padding: 20px;
}
.stackInfo {
    display: flex;
    flex-wrap: wrap;
}
.stackText {
    text-align: center;
    font-weight: 700;
}
.stackLogo {
    font-size: 70px;
    margin: 0 65px 0;
}

@media(max-width: 768px) {
    .container {
        width: 90%;
    }
}
@media(max-width: 426px) {
    .stackLogo {
        margin: 0 20px 0;
    }
    .container {
        width: 90%;
    }
}