.container {
    max-width: 1200px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page {
    width: 100%;
    background-color: bisque;
}
.info {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
    background-color: grey;
}
.title {
    width: 100%;
    height: 50px;
    padding-top: 30px;
    text-align: center;
    color: white;
}
.examples {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .examples {
        flex-direction: column;
    }
    .title {
        height: 100%;
        padding-top: 5px;
    }
}