.page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(126deg, rgba(255,255,255,1) 0%, rgba(210, 209, 209, 0.5) 100%);
    margin-left: 150px;
}
.textWrapper {
    padding: 10px;
    margin-top: 200px;
}
.textHi {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}
.textName {
    font-size: 36px;
}
.text {
    text-align: justify;
    font-weight: 400;
}
.photo {
}
.buttonWrapper {
    display: flex;
}
.buttonWrapper button {
    border: 2px solid transparent;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: ease-in-out all 0.55s;
    transition: ease-in-out all 0.55s;
    text-align: center;
}
.buttonMyWork button{
    background: #d9832e;
    color: #ffffff;
    border-color: #d9832e;
    margin-right: 15px;
}
.buttonMyWork button:hover {
    background-color: #000000;
    border-color: transparent;
}
.buttonHireMe button {
    background: transparent;
    color: #d9832e;
    border-color: #d9832e;
}
.buttonHireMe button:hover {
    background: #d9832e;
    color: #ffffff;
}
