.page {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.photo {
    position: relative;
    bottom: 45px;
    left: 50%;
}
/*.container {*/
/*    max-width: 1200px;*/
/*    height: 100%;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.info {*/
/*    width: 80%;*/
/*    height: 400px;*/
/*    border: 1px solid black;*/
/*    background-color: grey;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/

/*.text {*/
/*    color: white;*/
/*}*/

/*.photo {*/
/*    border-radius: 15px;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .info {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/