.page {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width: 80%;
    height: 400px;
    border: 1px solid black;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    color: white;
}

.photo {
    border-radius: 15px;
}

@media (max-width: 768px) {
    .info {
        flex-direction: column;
    }
}