.page {
    width: 100%;
    background-color: bisque;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    border: 1px solid black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    width: 100%;
    height: 50px;
    padding-top: 30px;
    text-align: center;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

button[type="submit"] {
    background-color: #3c5c7f;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0062cc;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 2px #007bff;
}