.page {
    width: 100%;
    background-color: #eaedf2;
}
.container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0 50px;
}
.formContainer {
    background-color: rgba(255, 255, 255, .5);
    padding: 30px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;
}
textarea {
    height: 200px;
}

button[type="submit"] {
    width: 20%;
    margin: 0 auto;
    border: 2px solid #d9832e;
    background-color: transparent;
    color: #d9832e;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: ease-in-out all 0.55s;
    transition: ease-in-out all 0.3s;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #d9832e;
    color: #ffffff;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 2px #007bff;
}

@media (max-width: 1024px) {
    input, textarea {
        width: 95%;
    }
    form {
        max-width: 100%;
    }
}
@media(max-width: 426px) {
    .container {
        width: 100%;
    }
    button[type="submit"] {
        width: 100%;
        margin: 0;
    }
}