.header {
    width: 100px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px 0 rgba(38, 59, 94, 0.29);
    z-index: 1000;
}
.nav a:after {
    content: "";
    position: absolute;
    right: 0;
    width: 2px;
    height: 100%;
    background: #d9832e;
    top: 0;
}
.nav a {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #090a0c;
    padding: 10px 0;
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(9, 10, 12, 0.06);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
.nav a:hover {
    color: #d9832e;
}
.navIcon {
    font-size: 28px;
}
