.header {
    width: 100%;
    height: 50px;
    background-color: darkgreen;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navWrapper {
    display: flex;
}

.navWrapper div {
    color: white;
    opacity: .9;
    margin-right: 30px;
    text-decoration: none;
}