.page {
    width: 100%;
    height: 70px;
    background-color: #000000;
    align-items: center;
}

.text {
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.iconsItem {
    color: #ffffff;
    opacity: .7;
    font-size: 25px;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}
.iconsItem:hover {
    color: #d9832e;
    opacity: 1;
}

@media (min-width: 768px) {
    .page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .iconsItem {
        margin-right: 20px;
    }
}