.page {
    width: 100%;
    background-color: #3d7966;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    border: 1px solid black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    width: 100%;
    height: 50px;
    padding-top: 30px;
    text-align: center;
    color: white;
}
.networks {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}