
.text {
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
    color: #090a0c;
    text-transform: uppercase;
}
.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    z-index: -1;
    background: #d9832e;
    width: 50px;
}